{% extends "base.html" %}

{% block app_content %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Bulk Upload Users</h3>
            </div>
            <div class="panel-body">
                <form method="POST" class="form" role="form" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    
                    <div class="form-group">
                        {{ form.file.label }}
                        {{ form.file(class="form-control") }}
                        {% if form.file.errors %}
                            <ul class="text-danger">
                            {% for error in form.file.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    </div>

                    <div class="form-group">
                        {{ form.roles.label }}
                        {{ form.roles(class="form-control", multiple="multiple", size="7") }}
                        {% if form.roles.errors %}
                            <ul class="text-danger">
                            {% for error in form.roles.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                        <small class="text-muted">Hold Ctrl (Windows) or Command (Mac) to select multiple roles. These roles will be assigned to all users in addition to any roles specified in the CSV file.</small>
                    </div>

                    <div class="form-group">
                        {{ form.submit(class="btn btn-primary") }}
                    </div>
                </form>
                
                <hr>
                
                <h4>CSV File Format</h4>
                <p>Your CSV file should have the following columns:</p>
                <pre>email,first_name,last_name,phone,department,roles</pre>
                
                <p>Example:</p>
                <pre>john.doe@gppalanpur.in,John,Doe,1234567890,Computer Science,lecturer,hod
jane.smith@gppalanpur.in,Jane,Smith,9876543210,Electronics,lecturer</pre>
                
                <p class="text-muted">Note: The 'roles' column is optional. If provided, multiple roles should be comma-separated.</p>
                
                <p>
                    <a href="{{ url_for('static', filename='sample_users.csv') }}" class="btn btn-info">
                        <i class="fas fa-download"></i> Download Sample CSV
                    </a>
                </p>
            </div>
            <div class="panel-footer">
                <a href="{{ url_for('admin.index') }}" class="btn btn-default">
                    <i class="fas fa-arrow-left"></i> Back to Admin Panel
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
